body{
    background-color: var(--color-background);
}

.app-component{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    color: var(--color-text-primary);
}

