@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    transition:
            background-color 0.3s ease,
            border-color 0.3s ease,
            box-shadow 0.3s ease;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, Inter, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="light"]{
    --color-background: #f2f2f2;
    --color-background-secondary: #e3e3e3;
    --color-border: #a5a5a5;
    --color-border-strong: #595959;
    --color-primary: #7f7f7f;
    --color-text-primary: #282828;
    --color-text-secondary: #686868;
    --color-accent: #0048ff;

    --color-link: #0048ff;
    --color-link-hover: #0048ff;
    --color-link-visited: #5f00ff;

    --error-color: #ff0300;

}

:root[data-theme="dark"] {
    --color-background: #1a1a1a;
    --color-background-secondary: #2d2d2d;
    --color-border: #404040;
    --color-border-strong: #666666;
    --color-primary: #888888;
    --color-text-primary: #ffffff;
    --color-text-secondary: #d6d6d6;
    --color-accent: #2d7dff;

    --color-link: #4c7eff;
    --color-link-hover: #80a4ff;
    --color-link-visited: #8d4aff;

    --error-color: #ff4f4b;

}

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100%;
    font-family: 'Inter', "Momo Trust Display", sans-serif;
}

html{
    background-color: var(--color-background);

}