.page-container{
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center;
    justify-content: space-evenly;
}

.how-to-tip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.25em;
}

.how-to-tip li{
    color: var(--color-text-secondary);
}